page-home {
	hr{
		height:5px !important;
		margin:0px;
	}
	.bg-high{
		background-color:#f77c02; //orange
	}

	.bg-medium{
		background-color:#fcfc19; //yellow
	}

	.bg-low{
		background-color:#00ff00; //green
	}
	#map{
		width:50%;
		height: 50%;
	}

}
