page-home {
	hr{
		height:5px !important;
		margin:0px;
	}
	.bg-red{
		background-color:#ff0000;
	}

	.bg-orange{
		background-color:#f77c02;
	}

	.bg-yellow{
		background-color:#fcfc19;
	}

	.bg-green{
		background-color:#00ff00;
	}

	.bg-blue{
		background-color:#76c6f7;
	}
}
